version: '3.9'
services:
  backend:
    build: ./backend
    environment:
      DB_URL: jdbc:postgresql://tradevault-do-user-13395375-0.l.db.ondigitalocean.com:25060/tradevault?sslmode=require
      DB_USER: tradevault
      DB_PASS: ${DB_PASS}
      JWT_SECRET: ${JWT_SECRET}
      STORAGE_S3_SECRET_KEY: ${STORAGE_S3_SECRET_KEY}
      FRONTEND_URL: ${FRONTEND_URL:https://tradejaudit.com}
    ports:
      - "8080:8080"
  frontend:
    build: ./frontend
    depends_on:
      - backend
    ports:
      - "4173:80"
