name: Docker compose up

on:
  workflow_dispatch:

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Deploy to server
        uses: appleboy/ssh-action@v0.1.9
        with:
          host: ${{ vars.TRADER_SERVER_HOST }}
          username: ${{ vars.TRADER_SERVER_USERNAME }}
          key: ${{ secrets.TRADER_SSH_PRIVATE_KEY }}
          script: |
            set -e
            cd ~/docker-compose/src/main/resources
            docker-compose -f tradevault-compose.yml pull
            docker-compose -f tradevault-compose.yml up -d

      - name: Final message
        run: echo Finished!
